<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form id="add_house_data_form" action="/house?type=parse" method="post">
        <input type="text" name="url" id="" maxlength="1000" size="50" placeholder="URL">
        <input type="submit" value="Add">
    </form>

    <a href="/google_signin">login google account</a>

    <hr>

    <div id="house_list">
        <!-- add by ajax -->
    </div>
     
    <!-- import jQuery from google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/index.js"></script>
</body>
</html>